*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
}

.container{
    background-color: rgb(218, 218, 218);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left{
    display: flex;
    background-color: rgb(222, 255, 74);
    flex-direction: column;
    width: 400px;
    height: 450px;
    justify-content: end;
    margin-left: 10px;
    border-radius: 2rem;
    border: 3px solid;
    box-shadow: 4rem 4rem 4rem -3rem;
}

.listinha{
    display: flex;
    width: 3rem;
    height: 1rem;
    background-color: white;
    width: 395px;
    height: 350px;
    border-radius: 0 0 2rem 2rem;
    border: 4px solid #000;
    justify-content: space-around;
    align-items: baseline;
}

.linha{
    display: flex;
    justify-content: space-evenly;
}

.card-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
}

.logo{
    margin-top: 10rem;
    margin-left: 10rem;
}

.cadastrar{
    margin-top: 35px;
    width: 12rem;
    height: 35px;
    color: #fff;
    background-color: green;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.trequinho{
    background-color: #fff;
    width: 2rem;
    height: 5rem;
    margin-right: 10px;
    margin-bottom: 1rem;
    border-radius: 3rem;
    border: 3px solid;
    display: flex;
    margin-bottom: 3.5rem;
}

.linha{
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 18rem;
    height: 30px;
    font-size: 20px;
}